<?xml version="1.0" encoding="UTF-8"?>

<beans>
    <bean name="helloService" class="zhanjie.HelloService">
        <property name="text" value="Are you ok?"/>
        <property name="shabi" ref="shabiService"/>
    </bean>
    <bean name="shabiService" class="zhanjie.ShabiService">
        <property name="shabi" value="spring"/>
    </bean>
</beans>
